################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoPentruFaragau/DemoPentruFaragau/DemoPentruFaragau/bin/roslyn/Microsoft.VisualBasic.Core.targets
